

.passwordCt {
    margin-left: 250px;
    margin-top: 90px;
 
  
}
.change{   
    margin: 10px 20px 20px 20px;
    height: auto; 
    padding: 30px 20px;
    background: #fff;
    
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    box-sizing: border-box;
    border-radius: 15px;
    overflow: hidden; 
   width: 50%;
}
 


.passwordCt label {
    font-weight: bold;
    margin-right: 10px; 
}

.ligne {
    margin-bottom: 20px; 
}

.btnG {
    display: flex;
   
}
.btnG button {
   
    margin-left: 20px;
    color: white;
 
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    height: 40px;
}

.btnG .g1{
    background: #004D40;
}
.btnG .g2{
    background: #d2bf2c;
}

.error {
    color: red;
    margin-top: 10px;
}

.success {
    color: green;
    margin-top: 10px;

}