body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
   
    
}

.landnPageNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #004D40; 
    color: #fff;
}

.logo {
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
}

/* ul {
    list-style: none;
    display: flex;
    padding-top: 10px;
} */

.homeNav li {
    margin: 0 20px; 
}

.homeNav {
    margin-left: 70px;
    list-style: none;
    display: flex;
    padding-top: 10px;
}

.landingPageView {
    background: #004d4016;
    display: flex;
    align-items: center;
    height: 100vh; 
    width: 100%; 
    overflow-x: hidden; 
}

.content {
    margin-left: 80px;
}

.content .cn {
    font-size: 50px;
    color: #004D40;
    font-weight: bold;
}

.content p {
    font-size: 25px;
    color: black;
    font-weight: bold;
    width: 70%;
}

.landingImage img {
    width: 600px; 
    height: auto;
    margin-right: 50px; 
    margin-top: -20px; 
}

.fs{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #004D40;
}
.features {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    padding: 20px;
    height: 350px; /* Set a maximum height */
    overflow-y: auto; 
}

.cdrFeature {
    /* flex: 0 0 calc(50% - 30px);  */
   height: 180px;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    margin: 50px;
    border: 2px solid #004D40;
    border-radius: 8px;
    margin-right: 20px; 
    margin-left: 20px; 
}

.cdrFeature h1 {
    font-size: 20px;
    color: #004D40;
    font-weight: bold;
}

.cdrFeature p {
    font-size: 20px;
    color: black;
}

footer {
    background: #004D40;
    font-weight: bold;
    font-size: 20px;
    color : #fff;
    padding : 20px;
    text-align: center;
}
